<h1>Listing clients</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Name</th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%=client.company.name %></td>
    <td><%=client.name %></td>
    <td><%= link_to 'Show', user_company_client_path(current_user, @current_company, client) %></td>
    <td><%= link_to 'Edit', edit_user_company_client_path(current_user, @current_company, client) %></td>
    <td><%= link_to 'Destroy', user_company_client_path(current_user, @current_company, client), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New client', new_user_company_client_path(current_user, @current_company) %>