<p>
  <b>Name:</b>
  <%=@company.name %>
</p>

<p>
  <b>Street:</b>
  <%=@company.address.street %>
</p>

<p>
  <b>House number:</b>
  <%=@company.address.house_number %>
</p>

<p>
  <b>City:</b>
  <%=@company.address.city %>
</p>

<p>
  <b>Postcode:</b>
  <%=@company.address.postcode %>
</p>

<p>
  <b>Country:</b>
  <%=@company.address.countr %>
</p>

<p>
  <b>Vat:</b>
  <%=@company.vat %>
</p>


