<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= title %></title>
    <%= render 'layouts/stylesheets' %>
    <%= formtastic_stylesheet_link_tag %>    
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <div id="content" class="round">
        <%- flash.each do |description, message| -%>
          <div class="flash <%= description %>"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
      <%- if Rails.env.development? -%>
        <%= debug(params) %>
      <% end %>
    </div>
  </body>
</html>
